{% extends "base.html" %}

{% block body %}
<div class='container' id='about'>
<div class='row'>
	<div class='col'>
		<h1> About Qalgu </h1>
			<p> This project is a research project by Noah Snelson for the Undergraduate Research and 
			Student Activity (URSA) program at the University of Alaska Fairbanks. This website is a technical
			demonstration of a subset of artificial intelligence concerned with language translation, 
			known as neural machine translation. </p>
			<p> Neither the creator of this website nor the algorithm producing the translations knows the
			Inupiaq language semantically. Rather, the algorithm learns to translate as it is given data
			in the form of samples of English and their translations into Inupiaq. If you would like to know
			more about this algorithm or the theory behind it, you can find the research paper 
			<a href="">here</a>.</p>
			<p> This website and the algorithm behind it is also 100% open-source, and if you'd like to check it
			out or contribute, you can find the research code on GitHub <a href="https://github.com/peeley/nlp">
			here</a> and the website code <a href="https://github.com/peeley/qalgu">here</a>.</p>
	</div>
</div>
</div>
{% endblock %}
